In [1]:
import pandas as pd

In [23]:
data = pd.read_csv('professor-demographics-updated copy.csv')
data.head()

,Year,F,M,AI,A,B,L,TW,U,W,T,Unnamed: 11
0,ALL,Female,Male,American Indian,Asian,Black,Latino,2+,Unknown,White,Total,NaN
1,2010,666.3,1306.3,7.5,310.7,61.3,113.2,0,25.1,1454.8,1972.5,NaN
2,2011,684.2,1294.1,8.2,328,67.4,118.7,0,17.3,1438.7,1978.3,NaN
3,2012,700.4,1279.5,8.5,341.8,72.2,120.7,0,17.7,1418.9,1979.9,NaN
4,2013,698.1,1281,13.4,343.2,64.8,121.4,0,19.3,1417.1,1979.2,NaN

In [25]:
temp_string = '['
for a in range (int(len(data)/10)):
    temp_string += "'" + (data.iloc[a*10]['Year']).upper() + "', "
temp_string

"['ALL', 'AEROSPACE STUDIES', 'AFRICAN AMERICAN STUDIES', 'AMERICAN INDIAN STUDIES', 'ANDERSON', 'ANTHROPOLOGY', 'ARCHITECTURE & URBAN DESIGN', 'ARCHAEOLOGY', 'ART', 'ART HISTORY', 'ASIAN AMERICAN STUDIES', 'ASIAN LANGUAGES AND CULTURES', 'ATMOSPHERIC AND OCEANIC SCIENCES', 'BIOENGINEERING', 'BIOSTATISTICS', 'CENTER FOR JEWISH STUDIES', 'CHEMICAL AND BIOMOLECULAR ENGINEERING', 'CHEMISTRY AND BIOCHEMISTRY', 'CHICANA/O STUDIES', 'CIVIL & ENVIORNMENTAL ENGR', 'CLASSICS', 'COMMUNICATION STUDIES', 'COMMUNITY HEALTH SCIENCES', 'COMPARATIVE LITERATURE', 'COMPUTER SCIENCE', 'DENTISTRY', 'DESIGN | MEDIA ARTS', 'EARTH, PLANETARY & SPACE SCIENCES (EPSS)', 'ECOLOGY & EVOL BIOLOGY', 'ECONOMICS', 'EDUCATION', 'EDUCATIONAL INITIATIVES', 'ELECTRICAL AND COMPUTER ENGINEERING', 'ENGLISH', 'ENVIRONMENTAL HEALTH SCIENCES', 'EPIDEMIOLOGY', 'ETHNOMUSICOLOGY', 'FILM, TV, & DIGITAL MEDIA', 'FRENCH AND FRANCOPHONE STUDIES', 'GENDER STUDIES', 'GEOGRAPHY', 'GERMANIC LANGUAGES', 'HEALTH POLICY & MANAGEMENT', 'HISTORY', 'HONORS PROGRAMS', 'INDO-EUROPEAN STUDIES', 'INFORMATION STUDIES', 'INST FOR RES ON LABOR & EMPLOYMENT', 'INST FOR SOCIETY & GENETICS', 'INST OF ENVIRON & SUSTAINABILITY', 'INT BIOLOGY & PHYSIOLOGY', 'ITALIAN', 'LAW', 'LESBIAN, GAY & BISEXUAL STUDIES', 'LIFE SCIENCES CORE CRCLM PRGM', 'LINGUISTICS', 'MATERIALS SCIENCE & ENGR (MSE)', 'MATHEMATICS', 'MECHANICAL & AEROSPACE ENGR (MANE)', 'MICROBIOLOGY, IMMUNOLOGY & MOLECULAR GENETICS (MIMG)', 'MILITARY SCIENCE', 'MINOR IN BIOMEDICAL RESEARCH', 'MOLECULAR, CELL & DEVELOP BIOLOGY (MCDB)', 'MUSIC', 'MUSICOLOGY', 'NAVAL SCIENCE', 'NEUROSCIENCE INTERDEPARTMENTAL PROG', 'NR EASTERN LANGS & CULTURES', 'NURSING', 'OCCUPATIONAL & ENVTL HEALTH CNTR (CTR O&EH)', 'PHILOSOPHY', 'PHYSICS & ASTRONOMY', 'POLITICAL SCIENCE', 'PROGRAM IN COMPUTING', 'PSYCHOLOGY', 'PUBLIC HEALTH', 'PUBLIC POLICY', 'SCANDANAVIAN SECTION', 'SLAVIC, EAST EUROPEAN & EURASIAN LANGS', 'SOCIAL WELFARE', 'SOCIOLOGY', 'SPANISH & PORTUGUESE', 'STATISTICS', 'STUDY OF RELIGION', 'THEATER', 'URBAN PLANNING', 'WORLD ARTS & CULTURES/DANCE', 'WRITING PROGRAM', "